# --- Firmware ---
.pio
.vscode
.DS_Store
*.log
.codex
.platformio-core
.venvset
.venv

# --- KiCad Phase/Temporary Files ---
*fp-info-cache
fabrication-toolkit-options.json
*bak
*kicad_pcb-bak
*kicad_sch-bak
*kicad_prl
*sch-bak
*~
_autosave-*
*.tmp
*.lck

# --- Netlists and Logs ---
*.net
*.erc
*.erc-errors
*.erc-warnings
*.rpt
*.xml
*.ipc
*.csv

# --- Project Backups ---
# KiCad 9 creates a dedicated directory for backups
*-backups/
**/backups/
**/production/
**.zip

